body {
    background-color: lightgrey;
}

.navbar {
    background-color: white;
    border-bottom: 5px;
    border-radius: 0;
    padding-bottom: 10px;
}

.align-self-center {
    align-self: center !important;
    -ms-flex-item-align: center !important;
}

.header-logo {
    cursor: pointer;
    max-height: 50px;
}

.container {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.page-header {
    color: #013B73;
}

@media (min-width: 576px) {
    .navbar {
        margin-bottom: 10px;
    }
}